.hidden {
    display: none;
}

.app-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(197, 210, 228);
}

.img-wrapper {
    width: 100%;
    max-width: 500px;
    height: auto;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.question-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(90deg, #2dd4bf 0%, #8b5cf6 100%);
    color: white;
    padding: 1rem 2rem;
    border-radius: 8px;
    width: 100%;
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
    max-width: 600px;
    background-color: antiquewhite;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}